<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>HelloWorld</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- Context parameter:  웹 앱 내외 모든 서블릿이 공유하는 파라미터 -->
  <context-param>
  	<param-name>appName</param-name>
  	<param-value>HelloWorld</param-value>
  </context-param>
  <context-param>
	<param-name>dbUser</param-name>
  	<param-value>Wedbd</param-value>
  </context-param>
   <context-param>
	<param-name>dbPass</param-name>
  	<param-value>Wedbd</param-value>
  </context-param>
  
  
  <!--  서블릿 등록 이전에 필터 해주는게 순서가 맞음 -->
  <!--  Filter 등록 -->
  <!-- filter>
  	<filter-name>EncodingFilter</filter-name>
  	<filter-class>himedia.kdt.filter.EncodingFilter</filter-class>
  </filter>
  
  <filter>
  	<filter-name>LoggingFilter</filter-name>
  	<filter-class>himedia.kdt.filter.LoggingFilter</filter-class>
  </filter-->
  
  <!-- Filter Mapping -->
  <!-- filter-mapping>
  	<filter-name>EncodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <filter-mapping>
  	<filter-name>LoggingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping-->
  
  <!-- 서블릿 등록 --> 
  <!--  servlet>
  	<servlet-name>MyFirstAervlet</servlet-name>
  	<servlet-class>HelloServlet</servlet-class>
    			<패키지명 포함 전체 이름>
  				< ! Servlet Parameter
  	<init-param>
  		<param-name>servletName</param-name>
  		<param-value>HelloServlet</param-value>
  	</init-param>
  	<init-param>
  		<param-name>description</param-name>
  		<param-value>나의 첫 번째 서블릿입니다.</param-value>
  	</init-param>
  </servlet -->
  
  <!-- Servlet Mapping 등록 : URL Mapper -->
  <!--  servlet-mapping>
  	<servlet-name>MyFirstAervlet</servlet-name>
  	<url-pattern>/hs</url-pattern>
  </servlet-mapping -->
  
  
  <!-- error page -->
  <error-page>
  	<exception-type>java.lang.Throwable</exception-type>
  	<location>/views/errors/error.jsp</location>
  </error-page>
  
  <error-page>
  	<error-code>404</error-code>
  	<location>/views/errors/error.404.jsp</location>
  </error-page>
  
</web-app>